@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Times New Roman", Times, serif;
}

.reviews-swiper .swiper-slide {
  height: auto;
  display: flex;
}

.reviews-swiper .swiper-slide > div {
  width: 100%;
}
